VITE_SUPABASE_URL=https://twpqlvxvhloipqeilxre.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3cHFsdnh2aGxvaXBxZWlseHJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwODU2NDEsImV4cCI6MjA5MzY2MTY0MX0.Ip0d-hLiucdw1_diruZipwoC_CVVNZql0EF_T2usYtc
